<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Products Page</h1>
    <a href="/">Go To Home Page</a>

    <ul>
        <% data.map( (product, index) => { %>
         <img src= <%= product.images[0] %> >   

            <li>
               <h3> <%= product.title %> </h3> 
                
                Description: <%= product.description %> <br>
                Cost: $<%= product.price %> <br>
                Rating: <%= product.rating %> <br>
                Brand: <%= product.brand %> <br>
                Category: <%= product.category %> 

            </li>
        <% }) %>

    </ul>
</body>
</html>